# GUI Framework
PySide6>=6.8.1

# System Monitoring
psutil>=5.9.0
wmi>=1.5.1

# Input Handling
keyboard>=0.13.5

# Optional - Development Dependencies
pytest>=7.4.0
black>=23.7.0
pylint>=2.17.5
mypy>=1.5.1

pywin32==308
nuitka
ordered-set
zstandard  # Sıkıştırma için

# Update checking
requests>=2.31.0
packaging>=23.2